{% extends 'default.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1 align="center">Edit Product</h1>
    <section class="header-main">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="container col-xl-6 col-sm-12">
                    <header class="card-header">
                        <h1 class="card-title mt-2">Product</h1>
                    </header>
                    {{ include('admin/_form.html.twig', {'button_label': 'Update'}) }}
                    {{ include('admin/_delete_form.html.twig') }}
                    <a href="{{ path('adminpr') }}">Back to list</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
