
.bt-5 {
    padding: 5px;
}

.bt-red {
    background: #EB6864;
    color: white;
}

/*.btn-danger {*/
/*    color: #fff !important;*/
/*    background-color: #FF4500 !important;*/
/*    border-color: #FF4500 !important;*/
/*}*/
/*button .btn-danger {*/
/*    color: #fff;*/
/*    background-color: #ff4500;*/
/*    border-color: #ff4500;*/
/*}*/