{% extends 'base.html.twig' %}

{% block title %} Contacts {% endblock %}

{% block body %}
    <div class="container col-xl-10 col-sm-12">
        <section class="my-5">
            <h1 class="h1-responsive font-weight-bold text-center my-5">Contact us</h1>
            <p class="text-center w-responsive mx-auto pb-5">The contact page is optimized to provide the most important
                information.</p>
            <div class="row">
                <div class="col-lg-6 mb-lg-0 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-header blue accent-1">
                                <h3 class="mt-2 text-secondary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-envelope" viewBox="0 0 16 16">
                                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                                    </svg>
                                    Write to us:
                                </h3>
                            </div>
                            <p class="text-secondary">We'll write rarely, but only the best content.</p>
                            <div class="md-form input-group flex-nowrap mb-3 shadow-sm">
                                <div class="input-group-prepend">
                                    <a class="navbar-brand brand-wrap">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                        </svg>
                                    </a>
                                </div>
                                <input type="text" id="form-name" class="form-control text-secondary"
                                       placeholder="Your name">
                            </div>
                            <div class="md-form input-group flex-nowrap mb-3 shadow-sm">
                                <div class="input-group-prepend">
                                    <a class="navbar-brand brand-wrap">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                                        </svg>
                                    </a>
                                </div>
                                <input type="text" id="form-email" class="form-control text-secondary"
                                       placeholder="Your email">
                            </div>
                            <div class="md-form input-group flex-nowrap mb-3 shadow-sm">
                                <div class="input-group-prepend">
                                    <a class="navbar-brand brand-wrap">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-tags-fill" viewBox="0 0 16 16">
                                            <path d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                                            <path d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043-7.457-7.457z"/>
                                        </svg>
                                    </a>
                                </div>
                                <input type="text" id="form-Subject" class="form-control text-secondary"
                                       placeholder="Subject">
                            </div>
                            <div class="md-form input-group flex-nowrap mb-3 shadow-sm">
                                <div class="input-group-prepend">
                                    <a class="navbar-brand brand-wrap">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                                        </svg>
                                    </a>
                                </div>
                                <textarea id="form-text" class="form-control md-textarea text-secondary" rows="3"
                                          placeholder="Write message"></textarea>
                            </div>
{#                            <div class="text-center">#}
{#                                <button class="btn btn-primary">Submit</button>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="map-container-section" class="z-depth-1-half map-container-section mb-4"
                         style="height: 450px">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2729.221796529417!2d29.025560115123568!3d46.83932354865727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c99e4f8d092f3b%3A0x73ba943177dbadff!2sASCONI+Winery!5e0!3m2!1sen!2s!4v1561881493066!5m2!1sen!2s"
                                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-4 ic">
                            <a class="navbar-brand brand-wrap">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                </svg>
                            </a>
                            <p class="mb-0 text-secondary">New York, 94126</p>
                            <p class="mb-md-0 text-secondary">United States</p>
                        </div>
                        <div class="col-md-4 ic">
                            <a class="navbar-brand brand-wrap">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-telephone-forward-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zm10.761.135a.5.5 0 0 1 .708 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 0 1-.708-.708L14.293 4H9.5a.5.5 0 0 1 0-1h4.793l-1.647-1.646a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </a>
                            <p class="mb-0 text-secondary">+ 01 234 567 89</p>
                            <p class="mb-md-0 text-secondary">Mon - Fri, 8:00-22:00</p>
                        </div>
                        <div class="col-md-4 ic">
                            <a class="navbar-brand brand-wrap">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                                </svg>
                            </a>
                            <p class="mb-0 text-secondary">info@gmail.com</p>
                            <p class="mb-0 text-secondary">sale@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <hr/>
{% endblock %}