<header class="section-header py-5">
    <nav class="navbar-expand-sm navbar-dark bg-secondary fixed-top">
        <div class="container">
            <div class="row">
                <div style="float:left">
                    <ul class="navbar-nav d-flex ">
                        <li class="nav-item"><a class="nav-link" href="{{ path('product_index') }}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>